.title {
	font: 300px;
	font-family: 'Chewy', cursive;
}
.bubble{
	border: 2px grey solid;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	padding: 10px;
	background-color: lightgrey;
}
.grid{
  width: 60px;
  height: 60px;
  margin: 15px;
}
.row{
	display: flex;
}
body{
	background-color: #EDEDED;
  font-family: 'Lato', sans-serif;
}
.flex {
  max-width: 100%;
}
.container-bar {
  display: flex;
  align-content: left;
  flex-direction: row;
  max-width: 80%;
  margin: 0 auto;
}
.pauseButton{
  background-color: #4A90E2;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  margin: 5px auto;
  color:white;
  font-size: 25px;
  box-shadow: 0 9px #999;
  font-family: 'Chewy', cursive;
  align-items: left;
    justify-content: left;
  flex: 0.5 0.5 0px; 
}
.pauseButton:hover {
  background-color: #3576c4;
}
.pauseButton:active {
  background-color: #3576c4;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.settingButton{
  background-color: #4A90E2;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  margin: 5px auto;
  color:white;
  font-size: 25px;
  box-shadow: 0 9px #999;
  font-family: 'Chewy', cursive;
  align-items: left;
    justify-content: left;
  flex: 0.5 0.5 0px;
}
.settingButton:hover {
  background-color: #3576c4;
}
.settingButton:active {
  background-color: #3576c4;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
<<<<<<< HEAD
.time{ /*time bar*/
  height: 50px;
  width: 75px;
  background-color: blue;
=======
.bar {
  height: 50px;
  width: 100px;
  background-color: lightgrey;
>>>>>>> master
  flex: 2 2 0px;
  border-radius: 10px; 
}
.time {
  height: 50px;
  width: 100px;
  background-color: lightgrey;
  flex: 1 1 0px;
  border-radius: 10px;
}
.blueButton{
	background-color: #4A90E2;
	border-radius: 10px;
	width: 300px;
	height: 75px;
	margin: 10px auto;
	color:white;
	font-size: 25px;
	display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 9px #999;
  font-family: 'Chewy', cursive;
}
.blueButton:hover {
  background-color: #3576c4;
}
.blueButton:active {
  background-color: #3576c4;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.container,.container-overlay, .container-game{
	display: flex;
	flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.container-overlay{
  display: none;
  position: fixed;
  left:0; 
  right:0;
  top: 8px;
  height: auto;
}
.caption{
	color: grey;
	margin: 50px 0px;
}
.title{
	font-size: 50px;
	color:#4A90E2;
}
.greyButton{
	background-color: #a8a8a8;
	border-radius: 10px;
	width: 300px;
	height: 75px;
	margin: 10px auto;
	color:white;
	font-size: 25px;
	display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Chewy', cursive;
  box-shadow: 0 9px #999;
}
.greyButton:hover {
  background-color: #878787;
}
.greyButton:active {
  background-color: #878787;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
a{
	text-decoration:none;
}
.bubble{
  opacity: 0;
}