.title {
	font: 300px;
	font-family: 'Chewy', cursive;
}
.bubble{
	border: 2px grey solid;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	padding: 10px;
	background-color: lightgrey;
}
.grid{
  width: 60px;
  height: 60px;
  margin: 15px;
}
.row{
	display: flex;
}
body{
	background-color: #EDEDED;
  font-family: 'Lato', sans-serif;
}
#bar {
  width: 55%;
	background-color: grey;
	border: 4px solid black;
}
#time{ /*time bar*/
  width: 0%;
  height: 50%;
  background-color:#4A90E2;
}
#complete {
	width: 0%;
  height: 50%;
  background-color: rgba(244, 209, 66,0.95);
}
.exit {
	border: 2px solid black;
  width: 50px;
  height: 50px;
}
<<<<<<< HEAD
=======
.flex {
  width: 80%;
  display: flex;
  align-content: left;
  flex-direction: row;
  justify-content: flex-start;
}
>>>>>>> master

#complete, #time{
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
<<<<<<< HEAD
.container-bar {
  display: flex;
  align-content: center;
  justify-content: center;
}
=======
>>>>>>> master

.pauseButton:hover {
  background-color: #3576c4;
}
.pauseButton:active {
  background-color: #3576c4;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.overlay-content{
  display: none;
}
.exitButton, .pauseButton{
  background-color: #4A90E2;
  border-radius: 10px;
  width: 7%;
  margin: 10px 15px auto 10px;
  color:white;
  font-size: 25px;
  box-shadow: 0 9px #999;
  font-family: 'Chewy', cursive;
  align-items: left;
  justify-content: left;
}
.exitButton:hover, .pauseButton:hover {
  background-color: #3576c4;
}
.exitButton:active,.pauseButton:active{
  background-color: #3576c4;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.blueButton{
	background-color: #4A90E2;
}
.blueButton:hover {
  background-color: #3576c4;
}
.blueButton:active {
  background-color: #3576c4;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.greyButton, .blueButton{
  border-radius: 10px;
  width: 300px;
  height: 75px;
  margin: 10px auto;
  color:white;
  font-size: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Chewy', cursive;
  box-shadow: 0 9px #999;
}
.greyButton{
	background-color: #a8a8a8;
}
.container,.container-overlay, .container-game{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.container-overlay{
  display: none;
  position: fixed;
  left:0;
  right:0;
  top: 8px;
  height: auto;
}
.caption{
<<<<<<< HEAD
  color: grey;
  margin: 50px 0px;
=======
	color: grey;
	margin: 50px 0px;
  font-size: 25px;
>>>>>>> ee49cd50face759a5125778f36acbdcee26e3a8c
}
.title{
  font-size: 50px;
  color:#4A90E2;
}
.greyButton:hover {
  background-color: #878787;
}
.greyButton:active {
  background-color: #878787;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
a{
	text-decoration:none;
}
.bubble{
  opacity: 0;
}
.paragraphs{
	font-size: 30px;
	font-family: 'Chewy', cursive;
}
#bubble1, #bubble7, #bubble18, #bubble19, #bubble20{
  background-color: orange;
}
#bubble16, #bubble12, #bubble3, #bubble4, #bubble5{
  background-color: yellow;
}
#bubble6, #bubble17, #bubble8, #bubble9, #bubble10{
  background-color: skyblue;
}
#bubble11, #bubble2, #bubble13, #bubble14, #bubble15{
  background-color: lightgreen;
}