.title {
	font: 300px;
	font-family: 'Chewy', cursive;
}
.bubble{
	border: 2px grey solid;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	padding: 10px;
	background-color: lightgrey;
}
.grid{
  width: 60px;
  height: 60px;
  margin: 15px;
}
.row{
	display: flex;
}
body{
	background-color: #EDEDED;
  font-family: 'Lato', sans-serif;
}
.containerBar {
  display: flex;
  align-content: left;
}
.pauseButton{
  background-color: #4A90E2;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  margin: 5px auto;
  color:white;
  font-size: 25px;
  box-shadow: 0 9px #999;
  font-family: 'Chewy', cursive;
  align-items: left;
    justify-content: left;
}
.pauseButton:hover {
  background-color: #3576c4;
}
.pauseButton:active {
  background-color: #3576c4;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.settingButton{
  background-color: #4A90E2;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  margin: 5px auto;
  color:white;
  font-size: 25px;
  box-shadow: 0 9px #999;
  font-family: 'Chewy', cursive;
  align-items: left;
    justify-content: left;
}
.settingButton:hover {
  background-color: #3576c4;
}
.settingButton:active {
  background-color: #3576c4;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.blueButton{
	background-color: #4A90E2;
	border-radius: 10px;
	width: 300px;
	height: 75px;
	margin: 10px auto;
	color:white;
	font-size: 25px;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	box-shadow: 0 9px #999;
    font-family: 'Chewy', cursive;
}
.blueButton:hover {
  background-color: #3576c4;
}
.blueButton:active {
  background-color: #3576c4;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.container{
	 display: flex;
	 flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	height: 100%;
}
.caption{
	color: grey;
	margin: 50px 0px;
}
.title{
	font-size: 50px;
	color:#4A90E2;
}
.greyButton{
	background-color: #a8a8a8;
	border-radius: 10px;
	width: 300px;
	height: 75px;
	margin: 10px auto;
	color:white;
	font-size: 25px;
	display: flex;
  	align-items: center;
  	justify-content: center;
    font-family: 'Chewy', cursive;
    box-shadow: 0 9px #999;
}
.greyButton:hover {
  background-color: #878787;
}
.greyButton:active {
  background-color: #878787;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
a{
	text-decoration:none;
}
#endGameMsg{

}